@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap');

/* use 650px media query for the image heights on the headers */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px red solid !important; */
    /* visibility: visible !important; */
}

#all-pink {
    background-color: #a7535d;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

p {
    margin-bottom: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #eec7be;
    word-wrap: break-word;
}

.tab-header {
    font-weight: 300;
    letter-spacing: 1px;
    color: #a7535d;
}

.nav-item {
    opacity: 0.7;
}

.active {
    opacity: 1;
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.header-centering {
    padding-top: 12.5vh;
    background-color: #eec7be;
}

.people {
    /* background-color: rgba(53, 104, 70, 0.685); */
    background-color: #faefec;
    position: relative;
    /* height: 100vh; */
}

.container-fluid {
    /* padding-left: 0px; */
    /*padding-right: 0px; */
}

.sizing {
    background-color: #eec7be;
    /* background-color: rgba(53, 104, 70, 0.685); */
    /* text-align: center; */
    height: 85%;
    position: relative;
}

.navbar {
    z-index: 10;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.navbar-brand {
    color: black;
}

.navbar-toggler {
    border-color: black;
}


/* accommodations */

.hotel-info {
    color: #340101;
    font-size: 17px;
}

.acc-header {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    /* margin-top: 200px; */
    color: #a7535d;
}


/* events */

.event-desc {
    font-weight: 300;
}

.event-header {
    font-size: 60px;
    color: #a7535d;
    font-weight: 300;
}


/* custom toggler */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='	rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.home-header {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    /* margin-top: 200px; */
    color: white;
}

.nav-prop a {
    color: rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    font-size: 20px;
}

.nav-prop a:hover {
    transform: scale(1.1);
    color: #a7535d;
}

.nav-prop li {
    padding-left: 30px;
}


/* rsvp */

.vac-reasoning {
    display: none;
    font-size: 22px;
}

.appearing-form-wrap {
    display: none;
    font-size: 22px;
}

.form-control {
    font-size: 20px;
}

label {
    display: block;
}

.inner-label {
    opacity: 0.7;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 300;
}

.radio-label {
    font-size: 15px;
}

.required-field {
    color: red;
    font-size: 30px;
}

.sbmt-btn {
    border: rgb(0, 0, 0) 2px solid;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    width: 130px;
}

.sbmt-btn:hover {
    transform: scale(1.1);
    background-color: #a7535d;
}


/* lakyn pics */

.big-pic {
    height: 600px;
}

.title-img {
    height: 200px;
}

.event-pic {
    height: 150px;
    margin-top: 200px;
}

.reg-pic {
    height: 600px;
}

.acc-pic {
    height: 500px;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/* pictures */

.ring-resize {
    height: 700px;
}

.eng-pics {
    border: #e7a751 solid 2px;
    border-radius: 5px;
}


/* success */

.success-el {
    margin-top: 250px;
}


/* faq */

.faq-info {
    font-size: 17px;
}

.google-maps {
    overflow: hidden;
    padding-bottom: 70%;
    position: relative;
    height: 0;
}

.google-maps iframe {
    border-radius: 5%;
    border-color: #340101;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.content-spacing {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 25%;
    margin-right: 25%;
}

.content-margins {
    margin-top: 75px;
    margin-bottom: 50px;
}


/* registry */

.white-footer {
    padding-top: 12.5vh;
    color: #faefec;
}


/* media queries */

@media only screen and (max-width: 700px) {
    .big-pic {
        height: 350px;
    }
    .title-img {
        height: 100px;
    }
    .event-pic {
        height: 100px;
    }
    .reg-pic {
        height: 375px;
    }
    .acc-pic {
        height: 400px;
    }
    .content-spacing {
        margin-left: 0;
        margin-right: 0;
    }
}