@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px red solid !important;
    visibility: visible !important; */
}

html {
    scroll-behavior: smooth;
}

p {
    margin-bottom: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.active {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.header-centering {
    padding-top: 100px;
}

.people {
    /* background-color: rgba(53, 104, 70, 0.685); */
    background-color: white;
    /* height: 100vh; */
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.sizing {
    background-color: rgba(53, 104, 70, 0.685);
    text-align: center;
    height: 70vh;
    position: relative;
}

.navbar {
    z-index: 10;
}

.navbar-brand {
    color: black;
}

.navbar-toggler {
    border-color: black;
}


/* custom toggler */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='	rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* in order to get the image to be more transparent but not text */

.home-header {
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    color: black;
}

.nav-prop a {
    color: rgb(0, 0, 0);
}

.nav-prop a:hover {
    color: red;
}

.nav-prop li {
    padding-left: 30px;
}


/* rsvp */

.vac-reasoning {
    display: none;
}

.appearing-form-wrap {
    display: none;
}

label {
    display: block;
}

.inner-label {
    opacity: 0.7;
    font-size: 10px;
    margin-bottom: 0;
}

.radio-label {
    font-size: 12px;
}

.required-field {
    color: red;
    font-size: 30px;
}

.sbmt-btn {
    border: rgb(0, 0, 0) 2px solid;
    cursor: pointer;
}

.sbmt-btn:hover {
    transition: background-color 1s ease;
    background-color: green;
}


/* success */

.success-el {
    margin-top: 250px;
}