<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Accommodations</title>
    <link rel="icon" type="image/png" href="../static/images/lakyn_art/rings.png" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/style.css') }}">

</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">F & E</a>
                <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>                      
                    </button>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav ml-auto nav-prop">
                        <li class="nav-item"><a class="nav-link" href="home">home</a></li>
                        <li class="nav-item"><a class="nav-link" href="events">events</a></li>
                        <li class="nav-item active"><a class="nav-link" href="accommodations">accommodations</a></li>
                        <li class="nav-item"><a class="nav-link" href="registry">registry</a></li>
                        <li class="nav-item"><a class="nav-link" href="rsvp">rsvp</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid sizing">
        <div class="row header-centering">
            <div class="col-sm text-center">
                <h1 class="tab-header">accommodations</h1>
                <img class="img-fluid acc-pic mt-5" src="../static/images/lakyn_art/acc.png">
            </div>
        </div>
    </div>
    <div class="container-fluid people">
        <div class="row py-5">
            <div class="col-sm text-center">
                <h1 class="content-spacing">accommodations under construction :)</h1>
                <!-- <div class="hotel-info ">
                    <h3 class="py-3">The Hotel</h3>
                    <p>105 Ruddy Dr,</p>
                    <p class="pb-4">Madison, AL 35758</p>
                    <p class="pb-2">555-555-5555</p>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="outer-maps-container" style=" margin-left: 15%; margin-right: 15%;">
                    <div class="z-depth-1-half google-maps" style="height: 450px;">
                        <iframe style="border-radius: 5%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.947963834453!2d-77.00759438497721!3d38.87943235560861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b9d489d80b11%3A0x689317e79b7b6389!2sSlipstream!5e0!3m2!1sen!2sus!4v1633108140465!5m2!1sen!2sus"
                            width="400" height="300" style="border:0;" allowfullscreen></iframe> </div>
                </div> -->
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='JS/navbar_effects.js') }}"></script>

</body>

</html>