<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Events</title>
    <link rel="icon" type="image/png" href="../static/images/lakyn_art/rings.png" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/style.css') }}">

</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">F & E</a>
                <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>                      
                    </button>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav ml-auto nav-prop">
                        <li class="nav-item"><a class="nav-link" href="home">home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="events">events</a></li>
                        <li class="nav-item"><a class="nav-link" href="accommodations">accommodations</a></li>
                        <li class="nav-item"><a class="nav-link" href="registry">registry</a></li>
                        <li class="nav-item"><a class="nav-link" href="rsvp">rsvp</a></li>
                        <li class="nav-item"><a class="nav-link" href="pics">pics</a></li>
                        <li class="nav-item"><a class="nav-link" href="faq">questions/fyi</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid sizing">
        <div class="row header-centering sizing">
            <div class="col-sm text-center sizing">
                <h1 class="tab-header">events</h1>
                <img class="img-fluid event-pic" src="../static/images/lakyn_art/events.png">
            </div>
        </div>
        <div class="row white-back py-5">
            <div class="col-md-4 offset-md-2 text-center px-5 pb-5">
                <div class="hotel-info">
                    <h2 class="py-3 event-header">Mehndi</h2>
                    <h4 class="pb-3">Mar 4, 2022</h4>
                    <p class="event-desc">The Westin Buckhead Atlanta</p>
                    <p class="pb-3 event-desc">3391 Peachtree Rd NE <br> Atlanta, GA 30326</p>
                    <p class="pb-4 event-desc">6:00 pm ~ cocktail hour <br> 7:30 pm ~ dinner & entertainment</p>
                    <p class="py-2 event-desc">The Mehndi celebration incorporates several traditions of south Asian culture. It is a festive event hosted by both families where the couple's closest friends and family will partake in colorful performances and skits followed by
                        dancing, fun & games, as well as copious amounts of chai & lassi. </p>
                    <p class="py-2 event-desc">We encourage you all to bring your appetites & dancing shoes!</p>
                    <p class="py-2 event-desc">Caffeine & carpooling encouraged.</p>
                </div>
            </div>
            <div class="col-md-4 text-center px-5">
                <div class="hotel-info">
                    <h2 class="py-3 event-header">Reception</h2>
                    <h4 class="pb-3">Mar 5, 2022</h4>
                    <p class="event-desc">The Westin Buckhead Atlanta</p>
                    <p class="pb-3 event-desc">3391 Peachtree Rd NE <br> Atlanta, GA 30326</p>
                    <p class="pb-4 event-desc">6:00 pm ~ cocktail hour <br> 7:30 pm ~ dinner & entertainment</p>
                    <p class="py-2 event-desc">Fahad & Elora’s families will be hosting the wedding reception on the final night of celebrations in Atlanta. We warmly invite you to join us in the celebrations and hope to see your smiling faces while sending off the bride & groom
                        into the beginning of their new journey together at the end of the night.
                    </p>
                    <p class="py-2 event-desc">Carpooling & rideshare (uber/lyft) encouraged</p>
                </div>
            </div>
        </div>
        <div class="row white-back">
            <div class="col-md text-center">
                <div class="outer-maps-container content-spacing">
                    <div class="z-depth-1-half google-maps" style="height: 450px;">
                        <iframe style="border-radius: 3%;;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.599869103583!2d-84.367390248992!3d33.84842818056701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f50f582677da75%3A0xee3299d0ef6dd991!2sThe%20Westin%20Buckhead%20Atlanta!5e0!3m2!1sen!2sus!4v1641345586990!5m2!1sen!2sus"
                            width="400" height="300" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='JS/navbar_effects.js') }}"></script>
</body>

</html>