<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Questions</title>
    <link rel="icon" type="image/png" href="../static/images/lakyn_art/rings.png" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/style.css') }}">

</head>

<body id="all-pink">
    <header>
        <nav class="navbar fixed-top navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">F & E</a>
                <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>                      
                    </button>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav ml-auto nav-prop">
                        <li class="nav-item"><a class="nav-link" href="home">home</a></li>
                        <li class="nav-item"><a class="nav-link" href="events">events</a></li>
                        <li class="nav-item"><a class="nav-link" href="accommodations">accommodations</a></li>
                        <li class="nav-item"><a class="nav-link" href="registry">registry</a></li>
                        <li class="nav-item"><a class="nav-link" href="rsvp">rsvp</a></li>
                        <li class="nav-item"><a class="nav-link" href="pics">pics</a></li>
                        <li class="nav-item"><a class="nav-link" href="parking">parking</a></li>
                        <li class="nav-item active"><a class="nav-link" href="faq">questions/fyi</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid sizing">
        <div class="pics">
            <div class="row header-centering justify-content-center">
                <div class="col-lg-4 text-center">
                    <h1 class="tab-header">FAQ</h1>
                </div>
            </div>
            <div class="row header-centering justify-content-center">
                <div class="col-lg-4 text-left">
                    <h2>Am I at the right Westin?</h2>
                    <p class="faq-info">We get it, you tried your best. Make sure that the Westin you are at is titled The Westin Buckhead Atlanta. The address is 3391 Peachtree Rd NE Atlanta, GA 30326 and is near Lenox Square.</p>
                    </p>
                </div>
            </div>
            <div class="row header-centering justify-content-center">
                <div class="col-lg-4 text-left">
                    <h2>What should I wear?</h2>
                    <p class="faq-info">The Mehndi on Friday night is traditionally a colorful event, so dress in your boldest and brightest colors! All are welcome to wear traditional clothing and we are happy to send links if you want help finding outfits :) If you do
                        not want to wear traditional clothing, business casual is perfect. Remember to bring your dancing shoes!
                    </p>
                    <p class="pt-3 faq-info">The reception on Saturday night is a traditional, formal affair. Put on your favorite suit or dress - just be sure to leave some space to enjoy a nice dinner. We are so excited to celebrate with you! </p>
                </div>
            </div>
            <div class="row header-centering justify-content-center">
                <div class="col-lg-4 text-left">
                    <h2>Are there any colors I should avoid?</h2>
                    <p class="faq-info">Any and all colors are welcome! Bring your best outfits! </p>
                </div>
            </div>
            <div class="row header-centering justify-content-center">
                <div class="col-lg-4 text-left">
                    <h2>Where should guests park? Is parking free?</h2>
                    <p class="faq-info">You can view the parking information in the <a href="parking">parking tab</a></p>
                    </p>
                </div>
            </div>
            <div class="row header-centering justify-content-center">
                <div class="col-lg-4 text-left">
                    <h2>COVID & vaccinations?</h2>
                    <p class="faq-info">The safety of our family & friends is of the utmost importance. At this time, we will require all guests who are eligible for the COVID-19 vaccine to be fully vaccinated & boosted by our wedding day. We feel this is the best way to
                        ensure the health & safety of all of our guests, including those who may be at risk. We thank you for your understanding. If you have any questions, please feel free to shoot us a text!</p>
                </div>
            </div>
            <div class="row header-centering justify-content-center">
                <div class="col-lg-4 text-center pb-3">
                    <footer>this website was developed by <a href="https://tahzabbani.xyz">Tahseen</a> and the art was created by <a href="https://www.layshep.com/">Lakyn</a></footer>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='JS/navbar_effects.js') }}"></script>

</body>

</html>