<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/style.css') }}">

</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">khanwedding</a>
                <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>                      
                    </button>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav ml-auto nav-prop">
                        <li class="nav-item active"><a class="nav-link" href="home">home</a></li>
                        <li class="nav-item"><a class="nav-link" href="events">events</a></li>
                        <li class="nav-item"><a class="nav-link" href="accommodations">accommodations</a></li>
                        <li class="nav-item"><a class="nav-link" href="registry">registry</a></li>
                        <li class="nav-item"><a class="nav-link" href="rsvp">rsvp</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid sizing">
        <div class="row header-centering">
            <div class="col-sm">
                <span class="home-header">FAHAD & ELORA</span>
                <p>website under construction</p>
            </div>
        </div>
    </div>
    </div>
    <script src="" async defer></script>
</body>

</html>