<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/style.css') }}">

</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white navbar-light bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">khanwedding</a>
                <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>                      
                    </button>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav ml-auto nav-prop">
                        <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="nikkah">Nikkah</a></li>
                        <li class="nav-item"><a class="nav-link" href="mehndi">Mehndi</a></li>
                        <li class="nav-item"><a class="nav-link" href="reception">Reception</a></li>
                        <li class="nav-item"><a class="nav-link" href="accomodations">Accomodations</a></li>
                        <li class="nav-item"><a class="nav-link" href="registry">Registry</a></li>
                        <li class="nav-item active"><a class="nav-link" href="rsvp">RSVP</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid sizing">
        <div class="row header-centering">
            <div class="col-sm">
                <span class="home-header">yeah yeah yeah <br> nice</span>
            </div>
        </div>
    </div>
    <div class="container-fluid people">
        <form class="rsvp-form-wrapper py-5">
            <div class="form-row justify-content-center">
                <div class="col-md-4 form-group text-center">
                    <h2>first thing's first...</h2>
                    <p>are you fully vaccinated? <br> (or will be at least two weeks prior to the events)</p>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-primary" for="yes-vac">
                          <input type="radio" class="form-check-input" id="yes-vac" name="vac" value="yes">yes
                        </label>
                        <label class="btn btn-outline-danger" for="no-vac">
                          <input type="radio" class="form-check-input" id="no-vac" name="vac" value="no">no
                        </label>
                    </div>
                </div>
            </div>
            <div class="appearing-form-wrap">
                <div class="form-row justify-content-center">
                    <!-- TODO: mobile has weird gap between names because of form group -->
                    <div class="col-sm-2 form-group">
                        <label for="fname">Name<span class="required-field">*</span></label>
                        <input type="text" class="form-control" id="fname" name="fname" placeholder="First name" required><br>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="lname" style="visibility: hidden;">Name<span class="required-field">*</span></label>
                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Last name" required><br>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="col-sm-4">
                        <label for="other-names">Names of others in your party 
                            <p class="inner-label">Please separate full names with commas.</p></label>
                        <input type="text" class="form-control" id="other-names" name="other-names"><br>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="col-sm-4">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email address"><br>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="col-sm-4" name="nikkah-rsvp">
                        <p style="margin-bottom: 2px;">Nikkah</p>
                        <div class="form-check">
                            <label class="form-check-label">
                             <input type="radio" class="form-check-input" name="optradio">Option 1
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">Option 2
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="" async defer></script>
</body>

</html>